<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--开启自动扫描-->
    <mvc:annotation-driven/>
    <!-- 自动扫描该包，使SpringMVC认为包下用了@Controller注解的类是控制器 -->
    <context:component-scan base-package="com.wanfangdata.javatemplete.web" />
    <!-- 静态资源文件 -->
    <mvc:default-servlet-handler />

    <!--避免IE执行AJAX时，返回JSON出现下载文件 -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!-- 启动SpringMVC的注解功能，完成请求和注解POJO的映射 -->
    <bean
            class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter" />
                <!-- JSON转换器 -->
            </list>
        </property>
    </bean>

    <bean name="beetlConfig" class="org.beetl.ext.spring.BeetlGroupUtilConfiguration"
          init-method="init">
        <property name="configFileResource" value="classpath:beetl.properties" />
        <property name="functions">
            <map>
            </map>
        </property>
    </bean>
    <!-- Beetl视图解析器 -->
    <bean name="beetlViewResolver" class="org.beetl.ext.spring.BeetlSpringViewResolver">
        <!-- 多视图解析器，需要设置viewNames和order -->
        <property name="viewNames">
            <list>
                <value>/views/**</value>
            </list>
        </property>
        <property name="suffix" value=".btl" />
        <property name="contentType" value="text/html;charset=UTF-8" />
        <property name="order" value="0" />
        <!-- 多GroupTemplate，需要指定使用的bean -->
        <property name="config" ref="beetlConfig" />
    </bean>
    <!-- JSP视图解析器 -->
    <bean name="JSPViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="256" />
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
        <property name="contentType" value="text/html;charset=UTF-8" />
    </bean>

    <!--允许上传,请求的编码格式，默认为iso-8859-1;上传文件的大小，单位为字节;上传文件的临时路径-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:defaultEncoding="UTF-8"
          p:maxUploadSize="5400000"
          p:uploadTempDir="fileUpload/temp"/>
</beans>